@import "vars";

html {
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: $black;

    &.no-scroll {
        overflow: hidden;
    }
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

// 3rd party libraries
@import "blocks/slick";

// Blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/btn";
@import "blocks/works";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/readme";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-work";
@import "blocks/helpers";
@import "blocks/timeline";
@import "blocks/progress-bar";
@import "blocks/contact";
@import "blocks/form";
@import "blocks/burger";