.about {
    margin-top: 6rem;
    margin-bottom: 9.33rem;

    &__inner {
        display: flex;
    }

    &__photo {
        width: 50%;
        position: relative;

        img {
            position: relative;
            z-index: 2;
        }

        &:before {
            position: absolute;
            content: '';
            width: 413px;
            height: 413px;
            z-index: 1;
            left: 2.2rem;
            bottom: 0;
            background-color: #EFEFEF;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 3rem;
        padding-left: 3.2rem;

        .title {
            font-size: 3rem;
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .bigtitle {
            font-size: 6.13rem;
            font-weight: 700;
            line-height: 1.1;
            color: rgba($black, 0.15);
            text-transform: uppercase;
            margin-bottom: 1.4rem;
        }

        .text {
            font-size: 0.8rem;
            font-weight: 300;
            line-height: 2;
            color: $gray;
            margin-bottom: 2.8rem;
        }
    }
}