.contact {
    display: flex;
    background: url(https://placehold.it/477x700) right center no-repeat;

    @media #{$mobile} {
        background-size: 400px 700px;
    }

    @media #{$mobile-sm} {
        background-position: top right;
        background-size: 200px 200px;
    }

    @media #{$mobile-xs} {
        background-position: top center;
    }

    &__left {
        width: 47%;
        padding: 2rem;

        @media #{$mobile-sm} {
            width: 100%;
        }

        @media #{$mobile-xs} {
            padding-top: 220px;
        }
    }

    &__info {
        margin: 2rem 0 3rem;
        padding: 0;
        list-style: none;

        font-size: 0.94rem;
        color: $black;
        font-weight: 300;

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 0.75rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-icon {
            margin-right: 0.75rem;
        }
    }  
}