.footer {
    padding: 1rem 0;
    background-color: #2b2a2c;
    color: #878788;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media #{$tablet} {
            justify-content: center;
        }

        @media #{$mobile-xs} {
            flex-direction: column;
        }
    }

    &__social {
        display: flex;
        align-items: center;

        @media #{$tablet} {
            margin-bottom: 1rem;
        }

        @media #{$mobile-xs} {
            flex-direction: column;
            align-items: center;
        }

        .copyright {
            padding-right: 40px;
            font-size: 0.94rem;
            border-right: 1px solid #878788;

            @media #{$mobile-xs} {
                border: 0;
                padding: 0;
                margin-bottom: 1rem;
            }
        }

        .icons {
            padding-left: 15px;
            display: flex;
            align-items: center;

            @media #{$mobile-xs} {
                padding: 0;
                flex-wrap: wrap;
            }

            .icon {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                .img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$mobile-xs} {
            flex-wrap: wrap;
        }

        .link {
            text-decoration: none;
            color: #878788;
            margin-right: 10px;
            font-size: 0.94rem;
            
            transition: color 0.2s linear;

            &:hover {
                color: $white;
            }

            @media #{$mobile-xs} {
                margin-bottom: 0.5rem;
            }
        }

        .btn--sm {
            color: #878788;
            border-color: #878788;
            padding: 10px;
            min-width: 130px;

            transition: color 0.2s linear,
            background-color 0.2s linear;

            &:hover {
                background-color: $white;
                color: $black;
                border: $white;
            }
        }
    }
}