.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem -1rem;

    &__col {
        width: 33.33333%;
        padding: 1rem 1rem;

        @media #{$mobile} {
            width: 50%;
        }

        @media #{$mobile-sm} {
            width: 100%;
        }
    }

    .work {
        text-transform: uppercase;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 4px rgba($black, 0.25);

        transition: box-shadow 0.2s linear;

        &:hover {
            box-shadow: 0 0 25px rgba($black, 0.25);  
        }
        // Для адаптивности картинки под разные размеры
        &__img {
            display: block;
            width: 100%;
            height: auto;
        }

        &__content {
            padding: 1rem 0.8rem;
        }

        &__cat {
            font-size: 0.8rem;
            color: $black;
            margin-bottom: 0.5rem;
        }

        &__title {
            display: flex;
            justify-content: space-between;

            font-size: 1.06rem;
            color: $black;
            font-weight: 700;
        }
    }
}